body {
  font-family: sans-serif;
}
#app {
  width: 400px;
  position: relative;
  display: inline-block;
}
input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border-width: 1px;
}
input:focus {
  border: 2px solid rgb(190, 190, 253);
}
#suggestions-wrapper {
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid silver;
}
.suggestions-visible {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid silver;
}
